.git
.idea
bin
docker-output
docs
img

tests/_output
!tests/_output/.gitignore

tests/_support/_generated
!tests/_support/_generated/.gitignore

!vendor/
vendor/*
!vendor/webonyx/
vendor/webonyx/*
!vendor/webonyx/graphql-php/
vendor/webonyx/graphql-php/*
!vendor/webonyx/graphql-php/src/
!vendor/ivome/
vendor/ivome/*
!vendor/ivome/graphql-relay-php/
vendor/ivome/graphql-relay-php/*
!vendor/ivome/graphql-relay-php/src/
!vendor/autoload.php
!vendor/composer
vendor/composer/installed.json
vendor/composer/*/

.dockerignore
.gitignore
.travis.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
Dockerfile*
ISSUE_TEMPLATE.md
LICENSE
PULL_REQUEST_TEMPLATE.md
README.md
readme.txt
run-docker*.sh
