services:
  app:
    depends_on:
      - app_db
    image: wp-graphql:latest-wp${WP_VERSION-6.2}-php${PHP_VERSION-8.2}
    volumes:
      - ".:/var/www/html/wp-content/plugins/wp-graphql"
      - "./.log/app:/var/log/apache2"
    env_file:
      - .env
    environment:
      WP_URL: http://localhost:8091
      USING_XDEBUG: ${USING_XDEBUG:-}
    ports:
      - "8091:80"
    networks:
      local:

  app_db:
    image: mariadb:10.6
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    command: >
      --ssl=0
      --skip-ssl
      --skip-networking=0
      --bind-address=0.0.0.0
      --sql-mode=""
    ports:
      - "3306"
    networks:
      testing:
      local:

  testing:
    depends_on:
      - app_db
      # Uncomment below if running WebDriver-based acceptance tests
      # - chrome
    hostname: testing
    image: wp-graphql-testing:latest-wp${WP_VERSION-6.2}-php${PHP_VERSION-8.2}
    volumes:
      - ".:/var/www/html/wp-content/plugins/wp-graphql"
      - "./.log/testing:/var/log/apache2"
    env_file:
      - .env
    environment:
      SUITES: ${SUITES:-}
      # WebDriver configuration - Chrome needs to access WordPress via Docker network
      CHROMEDRIVER_HOST: chrome
      CHROMEDRIVER_PORT: 4444
      # URL that Chrome browser can use to access WordPress (via Docker network)
      WP_URL_FOR_WEBDRIVER: http://testing
    networks:
      testing:

  # Selenium Chrome for WebDriver-based acceptance tests
  # Use SELENIUM_IMAGE env var to override:
  #   - ARM64 (Apple Silicon): seleniarm/standalone-chromium:latest (default)
  #   - AMD64 (Intel/GitHub CI): selenium/standalone-chrome:latest
  chrome:
    image: ${SELENIUM_IMAGE:-seleniarm/standalone-chromium:latest}
    shm_size: '2gb'
    environment:
      - SE_NODE_MAX_SESSIONS=4
    ports:
      - "4444:4444"
      - "7900:7900"  # VNC viewer at http://localhost:7900 (password: secret)
    networks:
      testing:

networks:
  local:
  testing:
