# COPY THIS TO .env.testing and insert your

# Used by wp-graphql image to create the WP
DB_NAME=wordpress
DB_HOST=testing_db
DB_USER=wordpress
DB_PASSWORD=wordpress

WP_TABLE_PREFIX=wp_
WP_URL=http://localhost:8091
WP_DOMAIN=localhost

ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
ADMIN_PATH=/wp-admin

# Used by codeception WPBrowser
TEST_SITE_DB_DSN=mysql:host=${DB_HOST};dbname=${DB_NAME}
TEST_SITE_DB_HOST=${DB_HOST}
TEST_SITE_DB_NAME=${DB_NAME}
TEST_SITE_DB_USER=${DB_USER}
TEST_SITE_DB_PASSWORD=${DB_PASSWORD}
TEST_SITE_TABLE_PREFIX=${WP_TABLE_PREFIX}
TEST_SITE_ADMIN_USERNAME=admin
TEST_SITE_ADMIN_PASSWORD=password
TEST_SITE_WP_ADMIN_PATH=/wp-admin
WP_ROOT_FOLDER=/var/www/html

TEST_DB_NAME=${DB_NAME}
TEST_DB_HOST=${DB_HOST}
TEST_DB_USER=${DB_USER}
TEST_DB_PASSWORD=${DB_PASSWORD}
TEST_TABLE_PREFIX=${WP_TABLE_PREFIX}

TEST_SITE_WP_URL=http://localhost
TEST_SITE_WP_DOMAIN=localhost
TEST_SITE_ADMIN_EMAIL=admin@localhost

# Used by wp-graphql-testing docker
TESTS_DIR=tests
TESTS_OUTPUT=tests/_output
TESTS_DATA=tests/_data
TESTS_SUPPORT=tests/_support
TESTS_ENVS=tests/_envs

SKIP_TESTS_CLEANUP=1


# Used by wp-config.php
WORDPRESS_DB_HOST=${DB_HOST}
WORDPRESS_DB_USER=${DB_USER}
WORDPRESS_DB_PASSWORD=${DB_PASSWORD}
WORDPRESS_DB_NAME=${DB_NAME}
WORDPRESS_TABLE_PREFIX=${WP_TABLE_PREFIX}

# Used by db container
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=${DB_NAME}
MYSQL_USER=${DB_USER}
MYSQL_PASSWORD=${DB_PASSWORD}

# docker container env vars
WP_VERSION=6.1
PHP_VERSION=8.0
WPGRAPHQL_VERSION=latest
DATA_DUMP_DIR=/var/www/html/wp-content/plugins/wpgraphql-acf/tests/_data
DOCKER_REGISTRY=ghcr.io/wp-graphql/

# Define the test suites to run
SUITES=wpunit,functional,acceptance
