.authAvatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    position: relative;
}

.authAvatarPublic {
    filter: grayscale(100%) !important;
}

.authAvatarPublic .authBadge {
	animation: bounceOut 0.5s forwards;
}

.authBadge {
    width: 10px;
    height: 10px;
    background-color: #52c41a; /* Success color */
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid white;
    transition: background-color 1.5s, transform 1.5s;
    animation: bounceIn 0.5s forwards;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}
