# .github/workflows/test.yml

on:
  push:
    branches:
      - master
      - develop
  pull_request:
      - master
      - develop
name: Test

jobs:
  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout"
      uses: actions/checkout@v2

    - name: PHPStan
      uses: docker://oskarstark/phpstan-ga
      with:
        args: analyse
