name: GraphiQL End-to-End Tests

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop
      - master
    paths:
      - '**.js'
      - '.github/workflows/*.yml'
      - '!docs/**'

# Cancel previous workflow run groups that have not completed.
concurrency:
  # Group workflow runs by workflow name, along with the head branch ref of the pull request
  # or otherwise the branch or tag ref.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
    e2e-tests:
        name: E2E tests on Node ${{ matrix.node-version }}
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 18

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: 8.1
                extensions: mbstring, intl
                tools: composer

            - name: Install dependencies
              uses: ramsey/composer-install@v3
              with:
                composer-options: "--no-progress"

            - name: Install JavaScript dependencies
              run: npm ci

            - name: Build Assets
              run: npm run build

            - name: Install Playwright dependencies
              run: |
                  npx playwright install chromium firefox webkit --with-deps

            - name: Start WordPress Environment
              run: npm run wp-env -- start

            - name: Run E2E tests
              run: npm run test:e2e

            - name: Stop WordPress Environment
              run: npm run wp-env -- stop
