name: GraphiQL E2E Tests

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/*
    paths:
      - 'plugins/wp-graphql/packages/**'
      - 'plugins/wp-graphql/src/Admin/GraphiQL/**'
      - '.github/workflows/graphiql-e2e-tests.yml'

# Cancel previous workflow run groups that have not completed.
concurrency:
  # Group workflow runs by workflow name, along with the head branch ref of the pull request
  # or otherwise the branch or tag ref.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: E2E Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: mbstring, intl
          tools: composer

      - name: Install dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: "--no-progress"
          working-directory: plugins/wp-graphql

      - name: Install JavaScript dependencies
        run: npm ci

      - name: Build Assets
        run: npm run -w @wpgraphql/wp-graphql build

      - name: Install Playwright dependencies
        run: |
            npx playwright install chromium firefox webkit --with-deps

      - name: Start WordPress Environment
        run: npm run wp-env -- start

      - name: Run E2E tests
        run: npm run -w @wpgraphql/wp-graphql test:e2e

      - name: Stop WordPress Environment
        run: npm run wp-env -- stop
