name: Testing Integration

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop
    paths:
      - '**.php'
      - '!docs/**'

jobs:
  continuous_integration:
    env:
      STRIPE_API_PUBLISHABLE_KEY: ${{ secrets.STRIPE_API_PUBLISHABLE_KEY }}
      STRIPE_API_SECRET_KEY: ${{ secrets.STRIPE_API_SECRET_KEY }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ '7.3', '7.4' ]
          wordpress: [ '5.6', '5.5.3', '5.4.2' ]
          include:
            - php: '7.4'
              wordpress: '5.6'
            - php: '7.4'
              wordpress: '5.5.3'
            - php: '7.4'
              wordpress: '5.4.2'
            - php: '7.3'
              wordpress: '5.6'
            - php: '7.3'
              wordpress: '5.5.3'
            - php: '7.3'
              wordpress: '5.4.2'
      fail-fast: false
    name: WordPress ${{ matrix.wordpress }} on PHP ${{ matrix.php }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install PHP
        if: matrix.coverage == 1
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: json, mbstring

      - name: Get Composer Cache Directory
        id: composercache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --no-dev

      - name: Build "testing" Docker Image
        env:
          PHP_VERSION: ${{ matrix.php }}
          WP_VERSION: ${{ matrix.wordpress }}
          USE_XDEBUG: ${{ matrix.use_xdebug }}
        run: composer build-test

      - name: Run Tests w/ Docker.
        env:
          COVERAGE: ${{ matrix.coverage }}
          DEBUG: ${{ matrix.debug }}
          SKIP_TESTS_CLEANUP: ${{ matrix.coverage }}
          LOWEST: ${{ matrix.lowest }}
        run: composer run-test

      - name: Push Codecoverage to Coveralls.io
        if: ${{ matrix.coverage == 1 && env.STRIPE_API_PUBLISHABLE_KEY != 0 }}
        env:
          COVERALLS_RUN_LOCALLY: 1
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: vendor/bin/php-coveralls -v
