name: Testing Integration

on:
  push:
    branches:
      - develop
      - master
      - release/*
  pull_request:
    branches:
      - develop
      - master
      - release/*
    paths:
      - '.github/workflows/testing-integration.yml'
      - '**.php'
      - 'composer.json'
      - 'composer.lock'
      - '.wp-env.json'
      - 'tests/**'
      - 'codeception.dist.yml'
      - '!docs/**'

# Cancel previous workflow run groups that have not completed.
concurrency:
  # Group workflow runs by workflow name, along with the head branch ref of the pull request
  # or otherwise the branch or tag ref.
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  codeception:
    name: WordPress ${{ matrix.wp }} on PHP ${{ matrix.php }} ${{ matrix.multisite && 'Multisite' || '' }} ${{ matrix.coverage && '(Coverage)' || '' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '8.2', '8.1', '8.0', '7.4' ]
        wp: [ '6.8', '6.7', '6.6', '6.5', '6.4', '6.3', '6.2', '6.1' ]
        multisite: [ false ]
        coverage: [ false ]
        include:
          # Latest WordPress + PHP.
          - wp: '6.8'
            php: '8.3'
            coverage: true
          - wp: '6.8'
            php: '8.3'
            multisite: true
          # WordPress versions above the PHP testing matrix.
          - wp: '6.7'
            php: '8.3'
          - wp: '6.6'
            php: '8.3'
          - wp: '6.5'
            php: '8.3'
    env:
      WP_ENV_PHP_VERSION: ${{ matrix.php }}
      WP_ENV_CORE: ${{ matrix.wp == 'trunk' && 'WordPress/WordPress' || format( 'https://wordpress.org/wordpress-{0}.zip', matrix.wp ) }}

    steps:
      - name: Configure environment variables
        run: |
            echo "PHP_FPM_UID=$(id -u)" >> "$GITHUB_ENV"
            echo "PHP_FPM_GID=$(id -g)" >> "$GITHUB_ENV"

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
            show-progress: ${{ runner.debug == '1' && 'true' || 'false' }}
            persist-credentials: false

      - name: Set up PHP
        uses: shivammathur/setup-php@ec406be512d7077f68eed36e63f4d91bc006edc4 # v2.35.4
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          extensions: json, mbstring

      - name: Install Composer dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # v3.1.1

      - name: Setup Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
            cache: 'npm'
            node-version-file: '.nvmrc'

      - name: Install NPM dependencies
        run: npm ci

      - name: Start the Docker testing environment
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
            timeout_minutes: 10
            max_attempts: 3
            command: |
                if [ "${{ matrix.coverage }}" == "true" ]; then
                npm run wp-env start -- --xdebug=coverage
                else
                npm run wp-env start
                fi

      - name: Log versions
        run: |
            npm run wp-env -- run cli php -- -v
            npm run wp-env -- run cli wp core version

      - name: Run Acceptance Tests
        run: |
          npm run test:codecept -- run acceptance ${{ secrets.ACTIONS_STEP_DEBUG && '--debug' || '' }} ${{ matrix.coverage && '--coverage --coverage-xml' || '' }}

      - name: Run Functional Tests
        run: |
          npm run test:codecept -- run functional ${{ secrets.ACTIONS_STEP_DEBUG && '--debug' || '' }}

      - name: Run WPUnit Tests
        run: |
          npm run ${{ matrix.coverage && 'test:codecept:coverage' || 'test:codecept' }} -- run wpunit ${{ secrets.ACTIONS_STEP_DEBUG && '--debug' || '' }} ${{ matrix.coverage && '--coverage --coverage-xml' || '' }}

      - name: Push Codecoverage to Coveralls.io
        if: ${{ matrix.coverage }}
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            file: tests/_output/coverage.xml
            flag-name: wpunit
            format: clover

      - name: Upload HTML coverage report as artifact
        if: ${{ matrix.coverage }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
            name: wp-code-coverage-${{ matrix.php }}-${{ matrix.wp }}
            path: tests/_output/html
            overwrite: true
